
<header class="header-container">
    <div class="atop">
        <div class="left">
            <h1>RUUMY</h1>
        </div>
        <div class="right">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Asperiores, magni! Voluptatem velit quas temporibus, placeat,
              nisi eius dignissimos necessitatibus possimus quis aspernatur
              assumenda cupiditate deserunt nostrum mollitia amet iste est?
            </p>
            <div class="signup">
              <% if logged_in? %>
                <li>
                  <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "btn") %>
                </li>
              <% else %>
                <li>
                  <%= link_to('Sign up', new_user_registration_path, class: "btn") %>
                </li>
                  <br>
                  <span>or</span>
                  <br>
                <li>
                  <%= link_to('Login', new_user_session_path, class: "btn")  %>
                </li>
                <% end %>
            </div>
        </div>
    </div>
    <section class="main">

        <section class="info">
            <h2>What we're about</h2>
            <div class="info-container">
                <div class="box">
                    <%= inline_svg "information.svg", class: "inline_svg home" %>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, sint.</p>
                </div>
                <div class="box">
                    <%= inline_svg "transfer.svg", class: "inline_svg home" %>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, sint.</p>
                </div>
                <div class="box">
                    <%= inline_svg "home.svg", alt: 'Home', class: "inline_svg home" %>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, sint.</p>
                </div>
            </div>
        </section>
        <section class="signup-2">
            <h2>Lets start shall we</h2>
            <div class="signup">
                  <% if logged_in? %>
                    <li>
                      <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "btn") %>
                    </li>
                  <% else %>
                    <li>
                      <%= link_to 'Sign Up', new_user_registration_path, class: "btn" %>
                    </li>
                      <br>
                      <span>or</span>
                      <br>
                    <li>
                      <%= link_to('Login', new_user_session_path, class: "btn")  %>
                    </li>
                <% end %>
                </div>
        </section>
    </section>
    <section class="resources">
        <h2>Resources</h2>
        <div class="link1">
            <h3>Title</h3>
            <ul>
                <li>Link</li>
                <li>Link</li>
                <li>Link</li>
            </ul>
        </div>
    </section>
